.custom-button {
    padding: 15px 30px;
    font-size: 11px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 120px;
    text-align: center;
  }
  
  .custom-button:hover {
    background-color: #053970;
  }
  
  .custom-button:disabled {
    background-color: #0b0b0b;
    cursor: not-allowed;
  }

  .button-container {
    position: absolute; /* Position relative to the page */
    top: 10px;          /* Distance from the top */
    right: 10px;        /* Distance from the right */
  }