@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --darkcolor: #2E323F;
    --darklight: #3b4050;
    --grey: #6F7374;
    --cream: #A59678;
    --ff-subitles: 'Montserrat', sans-serif;
    --ff-headings: 'Oswald', sans-serif;
}

body {
    margin: 0;
    font-family: 'Roboto';
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header and Navigation */
.header {
    background: var(--darkcolor);
    text-align: center;
    position: relative;
    padding: 1em 0;
}

.logo {
    margin: 1em 0 2em 0;
}

.nav {
    position: absolute;
    width: 100%;
    transform: scale(1, 1); /* Ensure nav is visible */
    transition: transform 350ms ease-in;
    z-index: 99;
    background: var(--darkcolor);
    left: 0;
    transform-origin: top;
}

.nav__list {
    display: flex; /* Horizontal layout */
    justify-content: center; /* Center the navigation items */
    gap: 1em; /* Space between items */
    list-style: none;
}

.list__item {
    margin-bottom: 0; /* Remove vertical spacing */
}

.list__link {
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
}

.btn {
    display: inline-block;
    background: var(--cream);
    border-radius: 30px;
    padding: 0.5em 1em;
}

.toggle {
    padding: 0.5em;
    position: absolute;
    top: 3.2em;
    left: 2em;
    border: 0;
    border-radius: 50%;
    background: var(--darklight);
    cursor: pointer;
}

.hamburger {
    position: relative;
}

.hamburger, .hamburger::before, .hamburger::after {
    display: block;
    width: 25px;
    height: 1px;
    background: #fff;
}

.hamburger::before {
    position: absolute;
    content: '';
    top: 7px;
}

.hamburger::after {
    position: absolute;
    content: '';
    bottom: 7px;
}
